html, body {
	height: 100%;
	font-family: 'Roboto', arial;
	margin: 0;
	padding: 0;
}

.container {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
}
.__responsive{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}
/**
HEADER
**/
#main-header {
	background: #04515a;
	color: aliceblue;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}
#main-header .container {
	display: flex;
}

#main-header .logotype {
	display: flex;
	padding: 10px 0;
}

#main-header .logotype .image {
	width: 40px;
	margin-right: 10px;
}


#main-header .logotype .title {
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	margin-right: 40px;
	text-transform: uppercase;
}

#main-header nav {
	display: flex;
}
#main-header nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#main-header nav > ul{
	display: flex;
	align-items: stretch;
	
	height: 100%;
}
#main-header nav > ul > li{
	
	text-decoration: none;
	box-sizing: border-box;
}
#main-header nav a{
	text-decoration: none;
	padding: 5px 15px;	
}
#main-header nav > ul > li > a{
	color: #FFF;
	display: flex;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
}
#main-header nav > ul > li:hover > a{
	background: white;
	color:#04515a;
}
#main-header nav > ul ul{
	display: none;
	position: absolute;
	background: rgba(43, 94, 100, 0.65);

}
#main-header nav > ul > li:hover ul{
	display: block;
}
#main-header nav > ul ul li{

	border-top: 1px solid white;


}
#main-header nav > ul ul li:first-child{
	border: none;
}
#main-header nav > ul ul li a{
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 15px;
	display: block;
}
#main-header nav > ul ul li:hover a{
	background: white;
	color:#04515a;
}

/**
HEADER
**/
#main-banner .image img{
	width: 1583px;
	height: 625px;
}
#main-menu {
	margin-top: 40px;
}
#main-menu ul{
	text-align: center;
	list-style: none;
	margin: 0 -10px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
#main-menu ul li{
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: calc(25% - 20px);
}
.block-menu{
	background: #8ca9ad;
	padding: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.block-menu .icon{
width: 78px;
}
.block-menu .title{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	margin: 40px auto;
}

.block-menu a{
text-decoration: none;
color: white;
background:  #669fa6;
padding: 10px 20px;
margin-top: auto;
}

.block-menu a:hover{
	background: white;
	color: #669fa6;
}

#home-articles ul{
	list-style: none;
	margin: 0 -10px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

}
#home-articles ul li{
	margin: 0 10px 20px;
	position: relative;

width: calc(50% - 20px);
}
#home-articles ul li:before{
	background: rgba(136, 189, 195, 0.7);
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity .25s ease-in;
	z-index: 2;
}
#home-articles ul li:hover::before{
opacity: 1;
}
#home-articles ul li .image{
	display: block;
	overflow: hidden;
	z-index: 1;
	
}
#home-articles ul li .image img{
	transition: transform .25s ease-in;
}
#home-articles ul li:hover .image img{
	transform: scaleX(1.2) scaleY(1.2);
}
#home-articles ul li .title{
	z-index: 3;
}


.block-article{
	position: relative;
}
.block-article .title{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;

	
	background: rgba(136, 189, 195, 0.9);
	padding: 20px;
}
.block-article .title a{
	color: #FFF;
	text-decoration: none;
	text-align: center;
	font-family: "Roboto Thin", arial;
	font-size: 24px;
	visibility: visible;
	text-transform: uppercase;
}

/**
Partner
**/
#partner .title-style {
	text-align: center;
    text-transform: uppercase;
    font-size: 26px;
	margin-bottom: 50px;
	margin-top: 50px;
	font-family:"Roboto Thin", arial; 
	color:#2b5e64;
	
}
#partner.image img{
	width: 50px;
	height: 50px;
		
}
#partner  {
	margin-top: 40px;
	align-items: center;
	
}



#partner ul{
	
	list-style: none;
	margin: 0 10px;
	padding:  0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#partner ul li{
	display: inline-block;
    padding-right: 5px;
    padding-left: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: calc(25% - 20px);
	align-items: center;
}
#partner .title-style {
	border-bottom: 1px solid #2b5e64;
	font-size: 25px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
	position: relative;
}	
#partner .title-style::after{
	background: #2b5e64;
	bottom: -2px;
	content: "";
	height: 2px;
	left: 475px;
	position: absolute;
	width: 250px;
	
}


.block-partner{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/**
footer
**/
#main-footer{
	background: #2b5e64;
	padding-top: 40px;
	
}
#main-footer .copyright{
	color: #FFF;
	text-align: right;
	font-size: 12px;
	padding: 5px 0;

}
#main-footer .footer-top{
	background: #88bdc3;
	padding: 30px 0;
}
#main-footer .footer-top .container{
	color: #FFF;
	display: flex;
}
#main-footer .footer-top .container > *{
	flex-grow: 0;
	flex-shrink: 0;
	width: 33.33%;
}
#main-footer .footer-top .title{
	border-bottom: 1px solid #FFF;
	font-size: 18px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
	position: relative;
}
#main-footer .footer-top .title:after{
	background: #FFF;
	bottom: -2px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 140px;
}
#main-footer .footer-top .list{
	list-style: none;
	margin: 0;
	padding: 0;
}
#main-footer .footer-top .list > li{
	align-items: center;
	display: flex;
	font-size: 14px;
	margin-top: 10px;
}
#main-footer .footer-top .list > li:first-child{
	margin-top: 0;
}
#main-footer .footer-top .list a{
	border-bottom: 1px dashed #FFF;
	color: #FFF;
	padding-bottom: 2px;
	text-decoration: none;
}
#main-footer .footer-top .list .fa{
	margin-right: 10px;
}
#main-footer .footer-top .list a:hover{
	border-bottom-color: transparent;
}
#main-footer .block-social{
	margin-top: 20px;
}

.block-social ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-social li{
	margin-left: 10px;
}
.block-social li:first-child{
	margin-left: 0;
}
.block-social a{
	color: #FFF;
	font-size: 24px;
	text-decoration: none;
}
#main-footer .block-social a:hover{
color:#2b5e64;
}

#main-footer .slogan {
	align-items: center;
	display: flex;
	margin-left: auto;
	font-size: 30px;
	color: #FFF;
}
/**
footer
**/
/**
gallery
**/


#home-gallery ul{
	list-style: none;
	margin: 45px -25px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
#home-gallery ul li{
	margin: 0 15px 25px;
	position: relative;

width: calc(30% - 15px);
}
#home-gallery ul li:before{
	background: rgba(136, 189, 195, 0.7);
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity .25s ease-in;
	z-index: 2;
}
#home-gallery ul li:hover::before{
opacity: 1;
}
#home-gallery ul li .image{
	display: block;
	overflow: hidden;
	z-index: 1;
	
}
#home-gallery ul li .image img{
	transition: transform .25s ease-in;
}
#home-gallery ul li:hover .image img{
	transform: scaleX(1.2) scaleY(1.2);
}
#home-gallery ul li .title{
	z-index: 3;
}


.block-gallery{
	position: relative;
}
.block-gallery .title{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
    background: rgba(136, 189, 195, 0.9);
	padding: 20px;
	
	
}
.block-gallery .title a{
	color: #FFF;
	text-decoration: none;
	text-align: center;
	font-family: "Roboto Thin", arial;
	font-size: 24px;
	visibility: visible;
	text-transform: uppercase;
}

/**
gallery
**/
#school-banner img{
	width: 1583px;
	height: 140px;
}
#flower .image{
box-sizing: border-box;
display: block;
max-width: 100%;
margin-top: 40px;
margin-left: 60px;
margin-right: 0px;
margin-bottom: 40px;
}  
#flower .title-style {
	
color: #2b5e64;
margin: 0 0 10px;
display: flex;
text-align: justify;
}
#flower .title{
	color: #2b5e64;

display: flex;
text-align: left;
margin-bottom:50px;
}

.text-description {
	text-align: justify;
	display: block;
	color: #2b5e64;
	margin-left: 60px;
	
}
.red img{
	display: flex;
    width: auto;
	height: auto;
	border: 0;

}
